@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;

    --color-page: var(--page);
    --color-header: var(--header);
    --color-header-item: var(--header-item);
    --color-footer: var(--footer);
    --color-footer-heart: var(--footer-heart);
    --color-primary: var(--primary);
    --color-divider-large: var(--divider-large);
    --color-divider-small: var(--divider-small);
    --color-text: var(--text);
    --color-label: var(--label);
    --color-input-border: var(--input-border);
    --color-input-bg: var(--input-bg);
    --color-input-error-border: var(--input-error-border);
    --color-input-error-bg: var(--input-error-bg);
    --color-column-bg: var(--column-bg);
    --color-card-bg: var(--card-bg);
    --color-daily-icon: var(--daily-icon);
    --color-daily-bg1: var(--daily-bg1);
    --color-daily-bg2: var(--daily-bg2);
    --color-popup: var(--popup);
    --color-popup-bg: var(--popup-bg);
    --color-scroll: var(--scroll);
}

/* DARK MODE PADRÃO */
:root {
    --page: #222222;
    --header: #333333;
    --header-item: #3867D6;
    --footer: #111111;
    --footer-heart: #FFAFAF;
    --primary: #226ed8;

    --divider-large: rgb(156 199 251 / 70%);
    --divider-small: #3b5f91;

    --text: #fafafa;
    --label: rgb(250 250 250 / 50%);

    --input-border: #5c9dff;
    --input-bg: #535353;

    --input-error-border: #ffafaf;
    --input-error-bg: #554848;

    --column-bg: #333333;
    --card-bg: #3D3D3D;

    --daily-icon: #FFFFFF;
    --daily-bg1: #3D3D3D;
    --daily-bg2: #515151;

    --popup: #FFAFAF;
    --popup-bg: #535353;

    --scroll: #515151;
}

/* LIGHT MODE */
.light {
    --page: #fafafa;
    --header: #226ed8;
    --header-item: #FAFAFA;
    --footer: #114FA7;
    --footer-heart: #FFAFAF;
    --primary: #226ed8;

    --divider-large: rgb(156 199 251 / 70%);
    --divider-small: #3b5f91;

    --text: #141414;
    --label: rgb(20 20 20 / 50%);

    --input-border: #002d6c;
    --input-bg: #eef5ff;

    --input-error-border: #820000;
    --input-error-bg: #FFE5E5;

    --column-bg: #EEEEEE;
    --card-bg: #FFFFFF;

    --daily-icon: #FBB910;
    --daily-bg1: #FFF5C0;
    --daily-bg2: #FFFCEE;

    --popup: #DF0000;
    --popup-bg: #FFFFFF;

    --scroll: #C4C4C4;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-poppins);
    background-color: var(--page);
    color: var(--text);
}

/* Estilização da barra de rolagem */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 10px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll) transparent;
}